body {
    background-color:white;
}
body > header {
    position:absolute;
    background-color:white;
    height:25em;
    width:100%;
}
body > main > section:first-of-type {
    background-color:#F5F5DC;
    height:125em;
    width:100%;
}
body > main > section:nth-of-type(2) {
    background-color:green;
    height:100%;
    width:100%;
}
body > main > section:nth-of-type(3) {
    background-color:#F5F5DC;
    height:100%;
    width:100%;
}
body > main > section:nth-of-type(4) {
    background-image: url('https://platol.netlify.app/tushi/assets/images/blog/08.webp');
    background-repeat:no-repeat;
    background-size:cover;
    height:45em;
    width:100%;
    text-align:center;
    background-position: bottom;
}
body > header > h1 {
    width: 15%;
    position:absolute;
    top:1%;
    bottom:99%;
    left:6%;
    color:black;
    font-size:4.5em;
}
body > header > nav > ul > li:first-of-type {
    
    position:absolute;
    top:1%;
    bottom:99%;
    right:34%;
    
}
body > header > nav > ul > li:nth-of-type(2) {
 
    position:absolute;
    top:1%;
    bottom:99%;
    right:31.4%;
    left:69%;
}
body > header > nav > ul > li:nth-of-type(3) {
    
    position:absolute;
    top:1%;
    bottom:99%;
    right:26%;
    left:74%;
}
body > header > nav > ul > li:nth-of-type(4) {
    
    position:absolute;
    top:1%;
    bottom:99%;
    right:20%;
    left:80%;
}
body > header > nav > ul > li:nth-of-type(5) {
   
    position:absolute;
    top:1%;
    bottom:99%;
    right:15%;
    left:85%;
}
body > header > nav > ul > li:last-of-type {
  
    position:absolute;
    top:1%;
    bottom:99%;
    right:9%;
    left:91%;
}
body > header > p{
    width: 70%;
    position:absolute;
    top:10%;
    bottom:80%;
    right:80%;
    left:20%;
    color:black;
    font-size:6em;
}
body > main > section:first-of-type > h2 {
    top:50em;
    left:12%;
    
}
body > main > section:first-of-type > article:first-of-type {
    height:38em;
    width: 23.7%;
    position:absolute;
    top:35em;
    left:12%;
    background-color:blue;
    
}
body > main > section:first-of-type > article:nth-of-type(2) {
    height:38em;
    width: 23.7%;
    position:absolute;
    top:35em;
    left:38%;
    background-color:red;
    
}
body > main > section:first-of-type > article:nth-of-type(3) {
    height:38em;
    width: 23.7%;
    position:absolute;
    top:35em;
    left:64%;
    background-color:green;
    
}
body > main > section:first-of-type > article:nth-of-type(4) {
    height:38em;
    width: 23.7%;
    position:absolute;
    top:75em;
    left:12%;
    background-color:red;
    
}
body > main > section:first-of-type > article:nth-of-type(5) {
    height:38em;
    width: 23.7%;
    position:absolute;
    top:75em;
    left:38%;
    background-color:green;
    
}
body > main > section:first-of-type > article:last-of-type {
    height:38em;
    width: 23.7%;
    position:absolute;
    top:75em;
    left:64%;
    background-color:blue;
}